<ion-content [fullscreen]="true">
  <ion-card class="cartaEvento">
    <img  class="promoIMG" src="{{ promotions[0].srcimg }}" />
    <ion-card-header>
      <ion-card-title>{{ promotions[0].title }}</ion-card-title>

    </ion-card-header>

    <ion-card-content>
      <p>{{ promotions[0].description }}</p>
      <ion-card-subtitle class="precioContainer">
        {{promotions[0].precio}} monedas
        <img class="moneda" src="assets/images/coin.png" alt="">
      </ion-card-subtitle>
    </ion-card-content>


  </ion-card>

  <ion-card class="cartaEvento evento" *ngFor="let promotion of promotions; let i = index">
    <ng-container *ngIf="i > 0">
      <div class="fila">
        <img class="promoIMG" src="{{ promotion.srcimg }}" />
        <div class="contenido">
          <h3>{{ promotion.title }}</h3>
          <p>{{ promotion.description }}</p>
          <div class="precioContainer">
            <p>{{ promotion.precio }} monedas </p>
            <img class="moneda" src="assets/images/coin.png" alt="">
          </div>
        </div>
      </div>
    </ng-container>
  </ion-card>

</ion-content>