<div class="ion-page" id="main-content">

  <ion-header>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

  </ion-header>

  <ion-content [fullscreen]="true">


    <ion-label class="TituloTab">Notificaciones</ion-label>


    <ion-list>
      <ion-item>
        <ion-button color="primary" expand="block" >Activar Notificaciones</ion-button>
      </ion-item>
      <ion-item>
        <ion-button color="primary" expand="block">Desactivar Notificaciones</ion-button>
      </ion-item>
      <ion-item>
        <ion-button color="primary" expand="block">Notificacion de prueba</ion-button>
      </ion-item>
      <ion-item>
        <a href="https://youtu.be/pVsOIXjKbas?si=831SQDre5rxHr_Yp&t=889">https://youtu.be/pVsOIXjKbas?si=831SQDre5rxHr_Yp&t=889</a>
      </ion-item>

    </ion-list>


  </ion-content>

</div>