<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>fix</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-segment [(ngModel)]="segment">
    <ion-segment-button value="eventos">
      <ion-label class="textoSegment">Eventos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="eventos-comunidad">
      <ion-label class="textoSegment">Comunidad</ion-label>
    </ion-segment-button>
  </ion-segment>


  <div *ngIf="segment === 'eventos'">
    <ion-card class="cartaEvento inLive" *ngFor="let event of eventService.getEventsLive()"
      (click)="navigateToStreaming()">

      <img src="{{ event.srcimg }}" />

      <ion-card-header class="card-header">
        <ion-card-title>{{ event.title }}</ion-card-title>
        <ion-chip mode="ios">
          <ion-label>En directo</ion-label>
        </ion-chip>
      </ion-card-header>

      <ion-card-content>
        <p>{{ event.description }}</p>
      </ion-card-content>
    </ion-card>

    <ion-item>
      <ion-label>
        <h1>Próximos eventos</h1>
      </ion-label>
    </ion-item>

    <ion-card class="cartaEvento evento" *ngFor="let event of eventService.getEvents()">
      <ng-container>
        <div class="fila">
          <img class="eventIMG" src="{{ event.srcimg }}" />
          <div class="contenido">
            <h3>{{ event.title }}</h3>
            <p>{{ event.date }}</p>
            <ion-button (click)="captureScreen()" id="generate-pdf-btn" expand="block" fill="clear" shape="round">
              Comprar entrada
            </ion-button>
          </div>
        </div>
      </ng-container>
    </ion-card>
  </div>


  <div *ngIf="segment === 'eventos-comunidad'">
    <ion-card class="cartaEvento inLive" *ngFor="let comunity of comunityService.getEventsLive()">
      <img src="{{ comunity.srcimg }}" />
      <ion-card-header class="card-header">
        <ion-card-title>{{ comunity.title }}</ion-card-title>
        <ion-chip mode="ios">
          <ion-label>En directo</ion-label>
        </ion-chip>
      </ion-card-header>

      <ion-card-content>
        <ion-card-subtitle class="precioContainer">
          <p>{{ comunity.reward }}</p>
          <img src="assets/images/coin.png" class="token" alt="">
        </ion-card-subtitle>
        <p>{{ comunity.description }}</p>
        <div class="Info-tokens ">
        </div>
      </ion-card-content>
    </ion-card>

    <ion-item>
      <ion-label>
        <h1>Próximos eventos</h1>
      </ion-label>
    </ion-item>

    <ion-card class="cartaEvento evento" *ngFor="let comunity of comunityService.getEvents()">
      <ng-container>
        <div class="fila">
          <img class="eventIMG" src="{{ comunity.srcimg }}" />
          <div class="contenido">
            <h3>{{ comunity.title }}</h3>
            <div class="precioContainer">
              <b>{{ comunity.reward }} </b>
              <img src="assets/images/coin.png" class="token" alt="">
            </div>
            <p>{{ comunity.date }}</p>
            <ion-button id="participar" expand="block" fill="clear" shape="round">
              Participar
            </ion-button>
            <ion-action-sheet trigger="participar" header="Selecciona el vehículo" [buttons]="actionSheetButtons">

            </ion-action-sheet>

          </div>
        </div>
      </ng-container>
    </ion-card>
  </div>


</ion-content>