ion-icon {
  color: white;
}

ion-menu-button {
  color: white;
}

.cartaEvento p {
  margin-bottom: 10px;
}

ion-card-title {
  color: rgb(205, 133, 16);
  font-size: 25px;

}

.evento {
  display: flex;
  flex-direction: row;
}

.evento img {
  width: 45%;
  object-fit: cover;
}

.fila {
  display: flex;
  flex-direction: row;
}

.fila img {
  width: auto;
  max-width: 40%;
  padding: 5px;
  padding-right: 0;
  border-radius: 9px;
}

.contenido {
  flex-grow: 1;
  padding-left: 10px;
}

.contenido h3 {
  font-size: 18px;
}

.evento img {
  width: 45%;
  object-fit: cover;
}

.fila {
  display: flex;
  flex-direction: row;
}

.fila img {
  width: auto;
  max-width: 40%;
  padding: 5px;
  padding-right: 0;
  border-radius: 9px;
}

.contenido {
  flex-grow: 1;
  padding-left: 10px;
}

.contenido h3 {
  font-size: 18px;
}

.inLive b {
  color: rgb(216, 4, 4);
}

.inLive {
  border: 1px solid rgba(168, 4, 4, 0.697); 
}

.textoSegment {
  font-size: 18px;
  font-weight: 800;
  font-family: Montserrat, serif;
}

.Info-tokens {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}

.Info-tokens p {
  font-size: 18px;
}

.token {
  width: 22px;
  height: auto;
  margin-bottom: 7px;
}

.contenido b {
  color: rgb(255, 136, 0);
}

.cartaEvento {
  width: 100%;
  border-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: 0;
}

.inLive {
  border: 2px solid rgba(168, 4, 4, 0.697);
}

.card-header {
  display: flex;
  flex-direction: row;
  align-items: center;

}

ion-chip {
  --background: #ff0000 !important;
  --color: #ffffff;
}


.dateContainer{
  font-weight: 700;
  display: flex;
  flex-flow: row nowrap;
  align-items:center;
  justify-content: space-between;
}

.date{
  display: flex;
  gap:5px;
  flex-direction: row;
}

#participar {
  --background: #ff8c007a;
}

#generate-pdf-btn {
  --background: #ff8c007a;
}

.token {
  max-width: 20px;
}

.bottom-participar {
  --border-radius: 20px;
  --background: rgb(255, 136, 0);
  --color: white; 
  
  width: 85px; 
  height: 25px; 
  font-size: 14px;  
  border-radius: 7px;
  }