ion-menu-button{
    color: white;
}

ion-menu{
    margin-bottom: 200px;
}

ion-tab-bar {
    --ion-background-color: linear-gradient(#ffbc65 0% ,#ff8119 100%);
}

.options{
    display: flex;
    gap: 7px;
    align-items: center;
}

.options strong{
    
}

ion-icon{
    color: #ff8119;
}

.line{
    background-color:  #ff8019a9;
    width: 90%;
    height: 1px;
    margin: 0 auto;
}

