<ion-menu contentId="main-content">
  <ion-header>


  </ion-header>


  <ion-content>
    <ion-item>
      <ion-grid slot="start">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
      </ion-grid>
      <ion-grid>
        <ion-card-header>
          <ion-card-title>Cojones de oranguntan</ion-card-title>
          <ion-card-subtitle>Oranguntan somalí</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          En la selva se alzan, majestuosos,
          Con su pelaje denso y poderoso.
        </ion-card-content>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-grid slot="start">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
      </ion-grid>
      <ion-grid>
        <ion-card-header>
          <ion-card-title>Cojones de oranguntan</ion-card-title>
          <ion-card-subtitle>Oranguntan somalí</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          En la selva se alzan, majestuosos,
          Con su pelaje denso y poderoso.
        </ion-card-content>
      </ion-grid>
    </ion-item>
  </ion-content>