





swiper-container {
  width: 100%;
  height: 400px;
}
 
swiper-slide {
    margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cartaEvento{
    width: 100%;
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: 0;
}

.inLive b{
  color: rgb(216, 4, 4);
}

.inLive {
  border: 2px solid rgba(227, 4, 4, 0.697); // Aplica un borde sólido de 2px de ancho en color rojo
}

.evento {
  display: flex;
  flex-direction: row;
}

.evento img {
  width: 45%;
  object-fit: cover; /* Asegura que la imagen cubra completamente su área sin distorsionar */
}

.fila {
  display: flex;
  flex-direction: row;
}

.fila img{
    padding: 5px;
    padding-right: 0;
    border-radius: 9px;
}

.contenido {
  flex-grow: 1;
  padding-left: 10px; /* Añade un poco de espacio entre la imagen y el contenido */
}

.contenido h3{
    font-size: 18px;
}

.titulo{
  font-size: xx-large;
  font-weight: 700;
}

.TituloTab{
  font-family: Montserrat, serif;
  font-size: 30px;
  font-weight: 600;
  margin: 30px 15px;
}

.noticiaIMG{
  width: 100%;
  max-height: 55%;
}

.imgEvent{
  max-width: 30%;
}

.card-header{
  display: flex;
  flex-direction: row;
  align-items: center;

}
ion-chip {
  --background: #ff0000  !important;
  --color: #ffffff;
}

ion-icon{
  color: white;
}

.cartaEvento p{
  margin-bottom: 10px;
}

ion-card-title{
  color: rgb(205, 133, 16);
  font-size: 25px;
  
}

.evento {
  display: flex;
  flex-direction: row;
}

.evento img {
  width: 45%;
  object-fit: cover; /* Asegura que la imagen cubra completamente su área sin distorsionar */
}

.fila {
  display: flex;
  flex-direction: row;
}

.promoIMG{
  width: 100%;
  height: auto;
    padding: 5px;
    padding-right: 0;
    border-radius: 9px;
}

.contenido {
  flex-grow: 1;
  padding-left: 10px; /* Añade un poco de espacio entre la imagen y el contenido */
}

.contenido h3{
    color: rgb(205, 133, 16);
    font-size: 18px;
}

.moneda{
    margin-bottom: -5px;
    max-width: 30px;
    margin-right: 50px;

}

.precioContainer{
  font-weight: 700;
  display: flex;
  flex-flow: row nowrap;
  align-items:center;
  justify-content: space-between;
}

.precio{
  display: flex;
  gap:5px;
  flex-direction: row;
}

.marginfix{
height: 100%;
}