ion-content{
  margin-top: 20px;
}

// .noticia1 {
//     // width: 90%;    
//     border-radius: 5px;
// }
ion-card {
    width: 90%;
}

// ion-card, .card-ios, .card-md {
//     margin-left: 0px !important;
// }

swiper-container {
  width: 100%;
  height: 350px;
}
 
swiper-slide {
    margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cartaEvento{
    width: 90%;
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: 0;
}