// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --ion-color-primary: #ff7300;
    --ion-color-primary-rgb: 255, 115, 0;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 0, 0, 0;
    --ion-color-primary-shade: #e06500;
    --ion-color-primary-tint: #ff811a;

    --ion-color-secondary: #fea358;
    --ion-color-secondary-rgb: 254, 163, 88;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 0, 0, 0;
    --ion-color-secondary-shade: #e08f4d;
    --ion-color-secondary-tint: #feac69;

    --ion-color-tertiary: #a84c00;
    --ion-color-tertiary-rgb: 168, 76, 0;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #944300;
    --ion-color-tertiary-tint: #b15e1a;
}